@inject HttpClient _httpClient
@inject ICartService _cartService
@inject NavigationManager _navigationManager
@inject AuthenticationStateProvider _authenticationStateProvider
@inject ILocalStorageService _localStorageService

@implements IDisposable


@if (_cartItems is null || !_cartItems.Any())
{
    <h2 class="mt-5 mb-5 text-light"> Your Cart Is Empty</h2>
}
else
{
    <div class="card">
        <div class="row">
            <div class="col-md-8 cart">
                <div class="title">
                    <div class="row">
                        <div class="col"><h4><b>Shopping Cart</b></h4></div>
                        <div class="col align-self-center text-end text-muted">@_cartItems.Sum(ci => ci.Quantity) items</div>
                    </div>
                </div>
                <Virtualize Items="_cartItems.ToArray()" Context="cartItem">
                    <div class="row border-top">
                        <div class="row main align-items-center">
                            <div class="col-2"><img class="img-fluid" src="@cartItem.Image" alt="@cartItem.Image image"></div>
                            <div class="col">
                                <div class="row text-muted">@cartItem.ProductCategory.Replace(" ", ", ")</div>
                                <div class="row">@cartItem.ProductName</div>
                            </div>
                            <div class="col">
                                <a class="a-link" @onclick="() => _cartService.DecreaseQuantityAsync(cartItem)">-</a>
                                <span>@cartItem.Quantity</span>
                                <a class="a-link" @onclick="() => _cartService.IncreaseQuantityAsync(cartItem)">+</a>
                            </div>
                            <div class="col text-end">
                                @cartItem.Price &#107;&#114;
                                <a class="a-link" @onclick="() => _cartService.DeleteFromCartAsync(cartItem)">&#10005;</a>
                            </div>
                        </div>
                    </div>
                </Virtualize>
                <div class="back-to-shop">
                    <a class="a-link" href="/products">
                        &leftarrow;
                        <span class="text-muted">Back to shop</span>
                    </a>
                </div>
            </div>

            <div class="col-md-4 summary">
                <div><h5><b>Summary</b></h5></div>
                <hr>
                <EditForm Model="_shipAddress" OnSubmit="PlaceTheOrder">
                    <div class="row g-1 mt-1">
                        <div class="col-sm-6">
                            <label for="firstName" class="form-label">First name</label>
                            <input type="text" class="form-control" id="firstName" value="@_user.FirstName" required="" disabled>
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="lastName" class="form-label">Last name</label>
                            <input type="text" class="form-control" id="lastName" value="@_user.LastName" required="" disabled>
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="you@example.com" value="@_user.Email" disabled>
                            <div class="invalid-feedback">
                                Please enter a valid email address for shipping updates.
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="address" class="form-label">Address</label>
                            <InputTextArea type="text" class="form-control" id="address" placeholder="1234 Main St" required="" @bind-Value="_shipAddress"></InputTextArea>
                            <div class="invalid-feedback">
                                Please enter your shipping address.
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="address" class="form-label">Phone Number</label>
                            <input type="text" class="form-control" id="address" placeholder="123456789" required="" value="@_user.PhoneNumber">
                            <div class="invalid-feedback">
                                Please enter your shipping address.
                            </div>
                        </div>
                    </div>
                </EditForm>
                <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                    <div class="col">TOTAL PRICE</div>
                    <div class="col text-end">@_cartItems.Sum(ci => ci.Quantity * ci.Price)  &#107;&#114;</div>
                </div>
                <div class="buttons d-flex flex-row mt-5 gap-3 w-100">
                    <button class="btn btn-outline-dark w-100" @onclick="PlaceTheOrder">Place The Order</button>
                </div>
            </div>
        </div>
    </div>
}