@page "/userManagement"
@inject HttpClient _httpClient

<AuthorizeView Roles="Admin">
    <Authorized>
        <h1 class="text-center mt-5 mb-5">Users</h1>
        <div class="input-group input-group-lg">
            <input type="search" class="form-control mt-5 mb-5"
                   @bind-value="SearchInput" @bind-value:event="oninput"
                   placeholder="Search..." aria-label="Search">
        </div>
        <table class="table table-sm align-middle mb-0 bg-white mt-3">
            <thead class="bg-light">
                <tr>
                    <th scope="col">FirstName</th>
                    <th scope="col">LastName</th>
                    <th scope="col">Email</th>
                    <th scope="col">PhoneNumber</th>
                    <th scope="col">Address</th>
                    <th scope="col">Option</th>
                </tr>
            </thead>
            <Virtualize Items="FilteredUsers.ToArray()" Context="user">
                <tbody>
                    <tr>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>@user.Email</td>
                        <td>@user.PhoneNumber</td>
                        <td>@user.Address</td>
                        <td>
                            <a href="orders" class="btn btn-primary">Orders</a>
                        </td>
                    </tr>
                </tbody>
            </Virtualize>
        </table>
    </Authorized>
</AuthorizeView>