@inject IHttpClientFactory _httpClient
@inject IAddToCartService _addToCartService

<h1 class="text-center mt-5 mb-5">Products</h1>

<ul class="container list-unstyled text-center">
    <div class="input-group input-group-lg">
        <input type="search" class="form-control mt-5 mb-5"
               @bind-value="SearchInput" @bind-value:event="oninput"
               placeholder="Search..." aria-label="Search">
    </div>

    <div class="row row-cols-3">
        <Virtualize Items="FilteredProducts.ToArray()" Context="product">
            <li class="row row-cols-3 mb-3">
                <div class="card col" style="width: 18rem;">
                    <img src="@product.Image" class="card-img-top" alt="@product.Name">
                    <div class="card-body">
                        <h3 class="card-title">@product.Name</h3>
                        <h4 class="text-success fw-semibold">@product.Price kr</h4>
                        <p>@product.Category.Replace(" ", ", ")</p>
                        <p class="card-text text-truncate">@product.Description</p>
                        <a href="/products/@product.Id" class="btn btn-primary">Read</a>
                        <button class="btn btn-primary" @onclick="() => _addToCartService.BuyOnClick(product)">Buy</button>
                    </div>
                </div>
            </li>
        </Virtualize>
    </div>
</ul>